node_modules/*

!node_modules/font-awesome/
!node_modules/simple-line-icons/
!node_modules/jquery/
!node_modules/popper.js/
!node_modules/bootstrap/
!node_modules/pace-progress/
!node_modules/chart.js/

node_modules/font-awesome/*
node_modules/simple-line-icons/*
node_modules/jquery/*
node_modules/popper.js/*
node_modules/bootstrap/*
node_modules/pace-progress/*
node_modules/chart.js/*

!node_modules/font-awesome/*
!node_modules/simple-line-icons/*
!node_modules/jquery/dist
!node_modules/popper.js/dist
!node_modules/bootstrap/dist
!node_modules/pace-progress/pace.min.js
!node_modules/chart.js/dist

scss/
